# Исключаем виртуальное окружение
venv/

# Исключаем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем временные файлы и каталоги
temp_*
*.part

# Исключаем каталоги с результатами
translated_videos/
*.mp4

# Исключаем файлы среды выполнения
.env
.env.*
.project
.settings
.vscode/